.crd {
  margin: 80px 0;

  &__header {
    padding: 80px 0 104px;
    @media (min-width: map-get($bp, sm)) {
      grid-column: 6 / span 5;
      grid-row: 1 / span 1;
      z-index: 2;
    }
  }

  &__title {
    @include fluid-type($excerpt);
    line-height: 1.5;
    font-family: map-get($typo, 'mono' );
    font-style: italic;
    span {
      position: relative;
      display: inline-block;
      &::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: rem(15);
        z-index: -1;
        background-color: map-get($colors, secondary);
      }
    }
  }

  &__img {
    @media (min-width: map-get($bp, sm)) {
      grid-column: 1 / span 7;
      grid-row: 1 / span 2;
    }
  }

  &__bg {
    @media (min-width: map-get($bp, sm)) {
      grid-column: 5 / span 7;
      grid-row: 1 / span 1;
      background: map-get($colors, lightColor ) url(/assets/img/svg/pattern.svg) no-repeat;
      background-position: center right;
      z-index: 1;
    }
  }

  &__stats {
    @media (min-width: map-get($bp, sm)) {
      grid-column: 9 / span 4;
      grid-row: 2 / span 1;
    }
  }
}