.footer {
  background-color: map-get($colors , darkColor);
  color: map-get($colors , lightColor);
  padding-top: map-get($spaces , m );
  padding-bottom: map-get($spaces , m );

  a {
    color: map-get($colors , lightColor);
    text-decoration: none;
  }

  &__logo {
    @media (min-width: map-get($bp, sm)) {
      grid-column: 1 / span 4;
    }
  }

  & > div:not(.footer__logo) svg path {
    fill: map-get($colors , lightColor);
  }

  &__menu {
    @media (min-width: map-get($bp, sm)) {
      grid-column: 7 / span 3;
    }
  }

  &__contact {
    @media (min-width: map-get($bp, sm)) {
      grid-column: 10 / span 3;
    }
  }

  &__social {
    @media (min-width: map-get($bp, sm)) {
      grid-column: 10 / span 3;
      grid-row: 2 / span 1;
    }
  }

  &__list {
    display: flex;
    gap: 10px;
  }

  &__title {
    text-transform: uppercase;
    @include fluid-type($small);
    letter-spacing: rem(1);
  }

  &__address {
    p {
      margin: 0;
    }
  }

  &__gb {
    @media (min-width: map-get($bp, sm)) {
      grid-column: 7 / span 3;
      grid-row: 2 / span 1;
    }
  }

  &__gb svg {
    width: 100px;
  }

  & > *:not(:first-child) {
    margin-top: map-get($spaces , s );
  }


}