.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 80px;
  z-index: 2;
  background-color: map-get($colors, lightColor);
  display: flex;
  justify-content: space-between;
  padding: 0 map-get($spaces , s );

  @media (min-width: map-get($bp, md)) {
    background-color: map-get($colors, lightColor);
    padding-right: 0;
  }

  &__start,
  &__end {
    display: flex;
  }
  &__start {
    align-items: center;
  }
  &__end {
    flex-direction: row-reverse;
    @media (min-width: map-get($bp, md)) {
      flex-direction: row;
    }
  }

  &__search {
    width: 80px;
  }

  &__logo {
    position: relative;
    z-index: 20;
    .style-svg {
      width: 50px;
      height: 50px;
      display: block;
      @media (min-width: map-get($bp, md)) {
        border: 1px solid map-get($colors, darkColor);
      }
    }
  }
}